/* START OF TYPE SELECTORS */
html {
    font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", "sans-serif";
    font-size: 1vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}
/* END OF TYPE SELECTORS */



/* START OF CLASS SELECTORS */
.project-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

@media (min-width: 768px) {
  .calculator-container {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .calculator-container {
    width: 80%;
  }
  .project-name {
    font-size: 7rem;
  }
}

.calculator-container { 
    aspect-ratio: 1 / 1.2;
    background-color: black;
    border: 0.2rem solid grey;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    color: white;
}

.display-container {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a1a1a;
    margin-bottom: 1.5rem;
}

.number-on-screen {
    font-size: 3cqh;
    text-align: right;
    padding: 0 1rem;
}

.number-pad-container {
    grid-row: 2 / 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.8rem;
    row-gap: 0.8rem;
}

.clickable-button {
    font-size: 3cqh;
    border-radius: 100px;
    cursor: pointer;
    color: white;
}

.darkgrey {
    background-color: #404040;
}

.lightgrey {
    background-color: grey;
}

.orange {
    background-color: orange;
} 

.two-cells {
    grid-column: 1 / 3;
}
/* END OF CLASS SELECTORS */



/* START OF ID SELECTORS */
/* END OF ID SELECTORS */